<div id="debugWorkflowsModal" class="fixed top-0 left-0 bg-zinc-900/90 items-center flex justify-center h-[100%] w-[100%] z-10">
    <div class="relative bg-dark w-[700px] max-w-[90%] p-8 rounded-md flex flex-col items-center justify-center">
        <button class="btn-secondary absolute top-4 right-4 bg-none outline-none text-sm" onclick="closeDebugWorkflowModal()">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <h1 class="text-gray font-light tracking-wide rounded-md px-4 pb-4">
            Debug Workflow
        </h1>
        <div id="debugData"></div>
    </div>
</div>