<nav class="flex items-center justify-between h-12 container mx-auto">
    <a href="/" class="flex items-center justify-center">
        <div class="text-pure bg-primary w-5 rounded-sm flex itsc justify-center font-thin px-2">W</div>
        <h1 class="text-md text-gray ml-2 font-normal">WorqHat Workflows</h1>
    </a>

    <div class="flex items-center justify-center gap-8" id="headerLinks">
        <a href="/" class="text-gray hover:text-primary transition-all flex items-center justify-center">
            <i class="fa-solid fa-house text-[12px]"></i>
            <span class="inline-block ml-1">Home</span>
        </a>
        <a href="/workflows" class="text-gray hover:text-primary transition-all flex items-center justify-center">
            <i class="fa-solid fa-network-wired text-[14px]"></i>
            <span class="inline-block ml-1">Workflows</span>
        </a>
    </div>
</nav>