<div id="workflowCodeModal" class="fixed top-0 left-0 bg-zinc-900/90 items-center flex justify-center h-[100%] w-[100%] z-10">
    <div class="relative bg-dark  max-w-[90%] p-8 rounded-md flex flex-col items-center justify-center h-[80%]">
        <button class="btn-secondary absolute top-4 right-4 bg-none outline-none text-sm" onclick="closeWorkflowCodeModal()">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="flex flex-col w-full">
            <h1 class="rounded-md px-3 py-1 flex items-center justify-center mb-2 text-primary font-bold">🚀 Write Code Here</h1>
            <textarea id="workflowCode" class="bg-neutral-600 overflow-auto w-full outline-none rounded-md h-[100%] text-pure" name="" id="" rows="10">
            </textarea>
        </div>
        <div class="flex items-center justify-between mt-2 w-[100%]">
            <button class="btn-primary" onclick="formateJson()">
                Formate
            </button> 
            <button class="btn-primary" onclick="saveWorkflowCodeModal()">
                Save
            </button>
        </div>
    </div>
</div>
