<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/96753e7782.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/app.css" />
        <title>page | home</title>
    </head>
    <body>
        <div class="w-screen h-screen bg-dark">
            <div class="border-b-[0.5px] border-gray"><%- include("../components/header") %></div>
            <div class="flex items-center justify-center min-h-[80%]">
                <h1 class="text-gray font-bold">Welcome To WorqHat Workflows</h1>
            </div>
        </div> 
    </body>
    <script src="js/home.js"></script>
</html>
