<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/96753e7782.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <title>page | workspace</title>
</head>

<body>
    <div class="min-w-screen min-h-screen bg-dark">
        <%- include("../components/debugWorkflowModal") %>
        <div class="border-b-[0.5px] border-gray fixed top-0 left-0 w-screen pointer-events-auto z-10">
            <%- include("../components/header") %>
        </div>
        <div class="z-0 relative w-screen h-screen overflow-hidden pt-12">
            <%- include("../components/actionAndControls") %>
                <div class="w-full h-[15000px] z-1">
                    <div class="translate-x-[-5160px] flex w-[10000px] h-[10000px] left-1/2 relative p-4 pt-10 justify-center transition-all">
                        <div class="relative origin-[0_0] select-none wrapper transition-all pb-8">
                            <div class="px-8 pt-8 z-20 cursor-move" id="workspace" data-scale="1" data-x="0" data-y="0"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
<%- include("../scripts/firebase") %>
    <script src="js/utils.js"></script>
    <script src="js/actions.js"></script>
    <script src="js/workspace.js"></script>
    <script src="js/debugWorkflowModal.js"></script>

</html>